<!DOCTYPE html>
<html lang="en">
<head>
      {{>headerlinks}}
 </head>
<body>
      {{>navbar}}
        <!---Main header-->
      <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div -->
                    <div class="col-md-6 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Priyanka" class="img-fluid" title="Web Developer">
                        </figure>

                    </div>
                    
                    <div class="col-md-6 main_header_left">
                        <p> Welcome to the Weather App</p>
                          <h1>  I Am A <span class="ty">Stack Developer </span> who works on both ends. </h1>
                          <a href="link" target=""><button>About Me</button></a>
                    

                    </div>
                    <!--right  side div -->
                    
                    

                </div>

            </div>
        </div>
      </div>
      <!--footer section -->
      {{>footer}}


</body>
</html>