 <!-------- footer starts -->
     <footer class="footersection" id="footerid">
       <div class="container">
         <div class="row">
        <h3 class="text-center font-weight-bold">ABOUT THE WEBSITE </h3>
               <p> When it comes to weather forecasting, this website is one of the best weather sites that can search the data very fast and efficient. Searching for the weather report on this site is an easy task: you have to head to the website, and it will provide you with the live local atmospheric conditions as per your local location. </p>  </h3>
      </div>
     
  </div>
       <div class="mt-5 text-center">
         <p style="color: black;">Copyright ©2021 All Rights Reserved | This template is made with &hearts; by  
           Priyanka Vishwakarma</p>
         </div>
    
     </footer>